/*
main styling
*/
html,
body {
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
}
body {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: auto;
}
main {
  text-align: center;
  margin: auto;
  max-width: 100%;
}
/* detail styling */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: rgb(32, 119, 213);
}
/* add a break to some h elements */
.break {
  margin-bottom: 1.8em;
}
p {
  margin-block-end: 2em;
}
img:hover {
  opacity: 0.8;
}
/*
link styling in main page
*/
a:link {
  color: rgb(32, 119, 213);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(15, 88, 167);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(75, 162, 255);
  background-color: transparent;
  text-decoration: underline;
}
/*
header styling
*/
header {
  max-width: 100%;
}
.header-bar {
  padding: 1em;
}
.header-logo {
  padding-bottom: 10px;
  max-width: 100%;
}
/*
main area styling
*/
/* page background area */
.form-container {
  width: 100%;
  height: 350px;
  background-image: url(/Activewin/img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}
.white {
  color: rgb(255, 255, 255)!important;
}
/* sign up form */
.form-box {
  position: relative;
  top: 10%;
  background-color: rgba(26, 25, 25, 0.8);
  padding: 1em;
  color: rgba(255, 255, 255);
  margin: 1em;
  width: calc(100% - 4em);
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
}
/* hide the text content on the sign up form for mobile */
.hide {
  display: none;
}
/* form styling */
.form-box form {
  width: 100%;
}
.form-box input {
  padding: 10px;
  display: block;
  border: 0;
  margin-bottom: 5px;
}
.form-box input[type="email"] {
    width: calc(100% - 20px);
}
.form-box input[type="submit"] {
    width: 100%;
    background-color: rgb(12, 132, 1);
    color: rgba(255, 255, 255);
    font-weight: 700;
    cursor: pointer;
}
/* main text content styling */
.text-content h1 {
  padding-top: 1em;
}
.text-content h2 {
  padding-top: 0.8em;
}
.text-content {
  padding: 1em;
}
/* grey area styling */
.block.grey {
  background-color: rgb(244, 242, 242);
  padding-top: 2em;
}
.page-icons {
  width: calc(100% - 2em);
  padding: 1em;
  max-width: 400px;
}
.money-img {
  max-width: calc(90% - 2em);
}
.column-align:nth-child(4) {
  margin-bottom: 1em;
}
/* call to action styling */
.start-button {
  background-color: rgb(12, 132, 1);
  color: rgba(255, 255, 255);
  width: 50%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(139, 140, 140, 0.5);
  font-weight: 700;
  max-width: 350px;
}
.start-button:hover {
  transform: translateY(4px);
  box-shadow: 2px 2px 5px rgba(139, 140, 140, 0.5);
}
a:hover.button-link{
  text-decoration: none;
}
.start-claim-container {
  padding-bottom: 2em;
}

/*
footer styling
*/
footer {
  max-width: 100%;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(36, 36, 36);
}
/* footer text styling */
.footer-main {
  padding: 1em;
}
.fade {
  color: rgb(145, 145, 145);
}
/* copyright area styling */
.copyright-bar {
  background-color: rgb(0, 69, 143);
  padding: 1em;
}
.blue {
  color: rgb(123, 192, 249);
  font-size: 12px;
}
